body {
    background-color: rgba(205, 202, 202, 0.959);
    color: black;
}

form {
    margin: 0 auto;
}

.container {
    width: 450px;
    padding: 20px;
    border: 2px solid black;
    background-color: white;
    margin: 100px auto;
    /* border-radius: 20px; */
    /* box-shadow: grey 5px 10px 19px; */
    /* box-shadow: [color] [offset-x] [offset-y] [blur-radius]; */
}

button {
    position: relative;
    left: 75%;
    bottom: 15px;
    cursor: pointer;
    width: 80px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

}

button:hover {
    background-color: rgb(10, 171, 234);
    transition: ease-in-out 0.2s;
    transform: scale(1.09);
    border: 1px solid black;
}

h1 {
    text-align: center;
}

.form-row {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

label {
    font-weight: bold;
    margin-left: 5px;
    font-size: 18px;
}

label[for] {
    min-width: 100px;
    max-width: 100px;
}

.labels {
    font-weight: normal;
    font-size: medium;
}

input,
select,
textarea {
    flex: 1;
    padding: 7px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    /* width: 100%; */
    box-sizing: border-box;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
}

